[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset %Cblue(%aN)%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	chp = cherry-pick
	st = status
	co = checkout
	merge = merge --no-ff
	pull = pull --rebase
	ci = commit
	cm = commit
	p = push
	pf = push --force
	fp = push --force
	su = submodule update --init
	addnw = !sh -c 'git diff -w --no-color "$@" | git apply --cached --ignore-whitespace' -
[user]
	name = Holger Just
	email = "hjust@meine-er.de"
[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	ui = auto
[push]
	default = tracking
[core]
	autocrlf = false
	editor = subl -nw
	excludesfile = ~/.gitignore_global
[github]
	user = meineerde
[credential]
	helper=osxkeychain
[branch]
	autosetupmerge = always
[http]
	postBuffer = 5242880000
